html {
  margin: 0;
}

body {
  color: #5C5C5C;
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 5px 20px;
  height: 100vh;
  /* background: green; */
  border-radius: 50%;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#7ef8c9+0,04ff24+100 */
  background: #fff;
  /* Old browsers */
  background: -moz-linear-gradient(top, #fff 0%, #7ef8c9 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #fff 0%, #7ef8c9 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #fff 0%, #7ef8c9 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7ef8c9', endColorstr='#04ff24', GradientType=0);
  /* IE6-9 */
  background-attachment: fixed;
}

main,
header {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.hidden {
  display: none;
}

.header {
  filter: opacity(0%);
  animation: shadowset 2s ease 5s forwards, soft-fade-in 2s ease-out 5s forwards;
}

.header__title {
  margin-bottom: 0;
}

.header__subtitle {
  color: #959595;
}

.not-for-hire {
  cursor: not-allowed;
  max-width: 30em;
  display: block;
  filter: opacity(0%);
  animation: stamp 1s linear 5s forwards;
  transform: rotate(20deg);
}

.not-for-hire__title {
  display: inline-block;
  padding: 0 .5em;
  border: 5px solid rgb(150, 0, 0);
  color: rgb(150, 0, 0);
}

.aria-descriptions {
  display: none;
}

.show-after-animation {
  animation: soft-fade-in 6s;
}

@keyframes soft-fade-in {
  0% {
    filter: opacity(0%);
  }
  100% {
    filter: opacity(100%);
  }
}

@keyframes shadowset {
  0% {
    filter: drop-shadow(5px 5px 15px rgba(1, 1, 1, .2));
    text-shadow: 5px 5px 15px rgba(1, 1, 1, .2);
  }
  25% {
    filter: drop-shadow(25px 25px 25px rgba(1, 1, 1, .2));
    text-shadow: 25px 25px 25px rgba(1, 1, 1, .2);
  }
  75% {
    filter: drop-shadow(4px 4px 3px rgba(1, 1, 1, .2));
    text-shadow: 4px 4px 3px rgba(1, 1, 1, .2);
  }
  100% {
    filter: none;
  }
}

@keyframes stamp {
  0% {
    filter: opacity(0%);
    transform: scale(10) rotate(10deg);
  }
  50% {
    filter: opacity(100%);
  }
  90% {
    transform: rotate(1deg);
  }
  92% {
    transform: rotate(10deg);
  }
  94% {
    transform: rotate(-1deg);
  }
  96% {
    transform: rotate(-10deg);
  }
  98% {
    transform: rotate(4deg);
  }
  100% {
    transform: scale(1) rotate(10deg);
    filter: opacity(100%);
  }
}

@keyframes drop {
  0% {
    transform: translateY(-50px);
  }
  100% {
    transform: translateY(0px);
  }
}
