:root {
  --font-default: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  --color-text: #4c4c4c;
  --color-text-light: #959595;
  --color-main-light: #58c54f;
  --color-main-dark: #52c86c;
  --color-background: #eeeeee;
  --color-contrast: #bbbe47;
  --color-shadow: rgba(1, 1, 1, 0.2);
  --color-danger: rgb(150, 0, 0);
  --animation-soft-entry: shadowset 2s ease 5s forwards,
    soft-fade-in 2s ease-out 5s forwards;
}

html {
  margin: 0;
}

body {
  color: var(--color-text);
  text-align: center;
  font-family: var(--font-default);
  margin: 1rem 2rem;
  height: 100%;
  background: var(--color-background);
  background: linear-gradient(
    135deg,
    var(--color-background) 0%,
    var(--color-background) 90%,
    var(--color-main-light) 90.001%,
    var(--color-main-light) 95%,
    var(--color-contrast) 95.001%,
    var(--color-contrast) 100%
  );
  background-attachment: fixed;
}

main,
header {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.hidden {
  display: none;
}

.header {
  filter: opacity(0%);
  animation: var(--animation-soft-entry);
}

.header__title {
  margin-bottom: 0;
}

.header__subtitle {
  color: var(--color-text-light);
}

.projects {
  filter: opacity(0%);
  animation: var(--animation-soft-entry);
}

.projects__list {
  text-align: left;
}

.projects__icon {
  width: 1.5rem;
  vertical-align: middle;
}

.not-for-hire {
  cursor: not-allowed;
  max-width: 30em;
  display: block;
  filter: opacity(0%);
  animation: stamp 1s linear 5s forwards;
  transform: rotate(20deg);
}

.not-for-hire__title {
  display: inline-block;
  padding: 0 0.5em;
  border: 5px solid var(--color-danger);
  color: var(--color-danger);
}

.aria-descriptions {
  display: none;
}

@keyframes soft-fade-in {
  0% {
    filter: opacity(0%);
  }
  100% {
    filter: opacity(100%);
  }
}

@keyframes shadowset {
  0% {
    filter: drop-shadow(5px 5px 15px var(--color-shadow));
    text-shadow: 5px 5px 15px var(--color-shadow);
  }
  25% {
    filter: drop-shadow(25px 25px 25px var(--color-shadow));
    text-shadow: 25px 25px 25px var(--color-shadow);
  }
  75% {
    filter: drop-shadow(4px 4px 3px var(--color-shadow));
    text-shadow: 4px 4px 3px var(--color-shadow);
  }
  100% {
    filter: none;
  }
}

@keyframes stamp {
  0% {
    filter: opacity(0%);
    transform: scale(10) rotate(10deg);
  }
  50% {
    filter: opacity(100%);
  }
  90% {
    transform: rotate(1deg);
  }
  92% {
    transform: rotate(10deg);
  }
  94% {
    transform: rotate(-1deg);
  }
  96% {
    transform: rotate(-10deg);
  }
  98% {
    transform: rotate(4deg);
  }
  100% {
    transform: scale(1) rotate(10deg);
    filter: opacity(100%);
  }
}

@keyframes drop {
  0% {
    transform: translateY(-50px);
  }
  100% {
    transform: translateY(0px);
  }
}
